@keyframes slidy {
    0% { left: 0%; }
    /*20% { left: 0%; }*/
    25% { left: -100%; }
    /*45% { left: -100%; }*/
    50% { left: -200%; }
    /*70% { left: -200%; }*/
    75% { left: -300%; }
    /*95% { left: -300%; }*/
    100% { left: 0%; }
}
body { 
    margin: 0; background: rgba(173,216,230,0.7);
}
div#slider { 
    overflow: hidden; 
}
div#slider figure img { 
    width: 25%; float: left; 
}
div#slider figure { 
  position: relative;
  width: 400%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: slidy 20s ease-in-out 5s infinite alternate; 
}
nav li {
    padding: 30px 15px 0 15px;
    font-size: 2em;
    list-style-type: none;
    display: inline-block;
}
nav ul{
    text-align: center;
    color: #66CCCC;
    margin:0 auto; 
    position: relative;
    height: 100px; width: 100%;
    border-bottom: 20px solid rgba(0, 134, 139, 0.85);
    top: -100px;
    transition-property: top, color;
    transition-duration: 1s, 8s;
}
nav ul:hover {
    top: 0;
    color: #000;
}
#team li {
    display: inline-block;
    padding: 10px;
}
.wrapper {
  font-family: 'Racing Sans One', cursive;
    margin: 0 auto;
    text-align: center;
    }

/*.content {
   	text-align: center;}
/*.content ul {	
	text-align: center;
    }*/
.content ul li{
	display: inline-block;
	padding: 0px 5%;
	border: 2px solid transparent;
	text-transform: uppercase;
    font-size:;
}
  
h2 {
    color: #00688B;
}
/*.content h1 {
	text-align: center;
}
.content h2 {
	text-align: center;
}*/
.table {
	margin: 0 auto;
	display: table;
	width: 80%;
}
.row {
	display: table-row;
	width: 100%;
}
.cell {
	display: table-cell;
	width: 25%;

}
.cell img{
	width: 100%
}
div.cell a {
    text-decoration: none;
}

div.cell a p:hover {
    text-decoration: none;
    background:rgba(50, 82, 89, 1);
    color: #4F94CD;
}

div.row p {
	background:rgba(0, 134, 139, 0.85);
    border-radius: 50%;
    display: block;
    opacity: 0.9;    
    color: white;
	text-align: center;	
	position: relative; 	
	font-size: 20px;
	top: -70px;
	overflow: hidden;
	padding: 10px;
    font-family: 'Arial';
    text-decoration: none;
}

/*---------------------team-------------------------------------*/
.holder {
    border: 1px solid #4F94CD;
    border-radius: 10%;
    float: left;
    margin: 10px;
    position: relative;   
    overflow: hidden;
    box-shadow: 0px 0px 5px #333333;   
    transition: 0.5s Ease;   
}
.col {
  border-bottom: 1px solid #4F94CD;
   border-radius: 5%;
}
.caption
{    color: #00688B; 
    line-height: 20px;
}
.caption:hover {
    color: #00008B;
    line-height: 20px;
    opacity: 0.6;  
}
.caption > h2 {
    position: absolute;
    top: 0px;
    left: 10px;
    font-size: 20px;
}

footer .content {
background: rgba(0, 134, 139, 0.85);
height: 15%;
color: white;
  }