@keyframes slidy {
    0% { left: 0%; }
    /*20% { left: 0%; }*/
    25% { left: -100%; }
    /*45% { left: -100%; }*/
    50% { left: -200%; }
    /*70% { left: -200%; }*/
    75% { left: -300%; }
    /*95% { left: -300%; }*/
    100% { left: 0%; }
}
body { 
    margin: 0 auto; 
}
a, a:visited {
    text-decoration:none;
    color: inherit;
}
li {
    list-style-type: none;
}
div#slider { 
    overflow: hidden; 
}
div#slider figure img { 
    width: 25%; float: left; 
}
div#slider figure { 
  position: relative;
  width: 400%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: slidy 20s ease-in-out 5s infinite alternate; 
}
nav ul{
    text-align: center;
    color: #fff;
    margin:0 auto; 
    position: relative;
    height: 100px; 
    border-bottom: 20px solid #333;
    top: -100px;
    transition-property: top, color;
    transition-duration: 1s, 10s;
}
nav ul:hover {
    top: 0;
    color: #000;
}
nav li {
    padding: 30px 15px 0 15px;
    font-size: 2em;
    display: inline-block;
}
.team, .patt {
    display: block;
}
.team ul, .patt ul {
    padding: 0;
    margin: 0 auto;
    width: 100vw;
}
.team li {
    display: inline-block;
    border: 5px solid #1E1E1E;
    border-radius: 25px;
	height: 20vw;
    width: 20vw;
    margin: 15px;
}
#team1 {
    background-color: red;
    background-image: url(../img/team-02.png);
    background-size: cover; /*contain; cover;*/
}
.patt li {
    display: inline-block;
    border: 5px solid #1E1E1E;
	height: 30vw;
    width: 30vw;
    margin: 15px;
}
#patt1 {
    background-image: url(../img/work-01.jpg);
    background-size: cover;
}
#patt2 {
    background-image: url(../img/work-02.jpg);
    background-size: cover;
}
#patt3 {
    background-image: url(../img/work-03.jpg);
    background-size: cover;
}
#patt4 {
    background-image: url(../img/work-04.jpg);
    background-size: cover;
}
#patt5 {
    background-image: url(../img/work-05.jpg);
    background-size: cover;
}
#patt6 {
    background-image: url(../img/work-06.jpg);
    background-size: cover;
}
#patt7 {
    background-image: url(../img/work-07.jpg);
    background-size: cover;
}
#patt8 {
    background-image: url(../img/work-08.jpg);
    background-size: cover;
}
.wrapper {
    font: Georgia,serif;
    margin: 0 auto;
    text-align: center;
    }